# Ignore Gradle project-specific cache directory
.gradle

**/build/

!src/**/build

gradle-app.setting

!gradle-wrapper.jar

!gradle-wrapper.properties

.gradlenametaskcache

# Ignore Gradle build output directory
build
